# vextad RPC settings (linearize-hashes)
rpcuser=someuser
rpcpassword=somepassword
#datadir=~/.vexta
host=127.0.0.1

#mainnet default
port=19332

#testnet default
#port=14023

#regtest default
#port=18443

#signet default
#port=19443

# bootstrap.dat hashlist settings (linearize-hashes)
max_height=313000

# bootstrap.dat input/output settings (linearize-data)

# mainnet
netmagic=56545831
genesis=0000027626959d894ae1c8a6f9050cdcbdf58eb0037ab06345cb5502955370f1
input=/home/example/.vexta/blocks

# testnet
#netmagic=56545854
#genesis=00000dc74b41d5ebb73e55098e160534f34ec418becf4a3aa5bb218e6055cca5
#input=/home/example/.vexta/testnet4/blocks

# regtest
#netmagic=56545852
#genesis=3b5c0230bafd65f3dabcda2a30f33cdef0c3cda635e7440bda6909bb581462b7
#input=/home/example/.vexta/regtest/blocks

# signet
#netmagic=0a03cf40
#genesis=00000297613fa90675b13ac95d0590e95f787b15410ee3e568d7bc9df796c3c4
#input=/home/example/.vexta/signet/blocks

# "output" option causes blockchain files to be written to the given location,
# with "output_file" ignored. If not used, "output_file" is used instead.
# output=/home/example/blockchain_directory
output_file=/home/example/Downloads/bootstrap.dat
hashlist=hashlist.txt

# Maximum size in bytes of out-of-order blocks cache in memory
out_of_order_cache_sz = 100000000

# Do we want the reverse the hash bytes coming from getblockhash?
rev_hash_bytes = False

# On a new month, do we want to set the access and modify times of the new
# blockchain file?
file_timestamp = 0
# Do we want to split the blockchain files given a new month or specific height?
split_timestamp = 0

# Do we want debug printouts?
debug_output = False
